.movie-card .Mui-selected{
    color:#f55161 !important;
}
.movie-card .MuiTabs-indicator{
    border-color:red !important ;
}
.movie-card .css-19kzrtu{padding:0 !important;}

.movie-card .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{color:white !important;font-size: 14px !important;}
.movie-card .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {fill: white !important;top:calc(42% - .5em) !important;}
.movie-card .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon{color:white;}
.movie-card .css-g9gy0k{background-color: rgb(0 0 0 / 84%) !important;}
.css-tjaq38-MuiPaper-root-MuiCard-root {
width: 84% !important;
}
.movie-card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.movie-card .card:hover {
    transform: scale(1.05); 
  }
  .movie-card .card:hover .overlay {
    opacity: 1;
  }
  .movie-card .card{
    position: relative;
    width: 245px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    border:none;
  }
  .movie-card .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input{
    color:white;
  }
  .movie-card .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:before{
   border-bottom: 1px solid white; 
  }
  .css-ptiqhd-MuiSvgIcon-root{
    color:white;
  }
  @media (max-width: 599.95px){
    .css-ulxgan-MuiTabs-root .MuiTabs-scrollButtons{display: flex !important;}
  }
  @media  (max-width: 1200px){
    .css-dkd71f-MuiGrid2-root{
      justify-content: center;
    }
  }
